.bg-header {
  background-image: url(../src/Images/4071fb3871e21c92096b40635984d49e.jpg);
  height: 200px;
  width: 100%;
}

.nav-bar {
  background-color: rgb(246, 244, 244);
  height: 50px;
  width: 80%;
  margin-top: -30px;
}

.food-card {
  height: 300px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.search-box:focus {
  border-color: rgb(226, 226, 20) !important;
  box-shadow: 0 0 0 0.25rem rgba(233, 253, 13, 0.25) !important;
}
